# Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sparta
DB_USER=admin
DB_PASS=admin

# Segurança
JWT_SECRET=sparta_app_segredo_super_secreto_para_assinatura_jwt_123456

# Integração N8N
N8N_HOST=localhost
N8N_PORT=5678
N8N_API_KEY=n8n_api_key_local